.board {
height: 80%;
width: 50%;
display: inline-block;
}

.cards {
  height: 200px;
  width: 150px;
  border: 1px black solid;
  background-color: yellow;
  border-radius: 10px;
  float:left;
  margin: 14%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

body {
  text-align: center;
}

h1 {
  color: teal;
}

h2 {
  color: gold;
}

p {
  font-family: cursive;
}

button {
  display: block;
  font-weight: bold;
  font-size: 1em;
  margin-left: 40%;
  height: 3em;
  width: 20%;
}

nav {
  background: #808080;
}


nav a {
  background-color: #ffbd00;
  color: #FFFFFF;
  padding: 35px;
  float: left;
  display: block;
  text-decoration: none;
}

nav a:hover{
  background-color: #ee5f3c;
}

footer {
  text-align: center;
  background-color: #808080;
}

span {
  color: red;
  font-weight: bold;
}
